* {
  font-family: 'Roboto Mono', monospace;
  background-color: aliceblue;
}

h1 {
  font-size: 96px;
}

.display {
  background-color: white;
  border: 2px groove chartreuse;
  height: 75px;
  width: stretch;
  font-size: 64px;
  line-height: 75px;
}

button {
  background-color: wheat;
}

.numberButton {
  width: 150px;
  height: 150px;
  font-size: 48px;
}

.operationButton {
  width: 150px;
  height: 150px;
  font-size: 48px;
}

.clearButton {
  width: 150px;
  height: 150px;
  font-size: 48px;
}

.equalsButton {
  width: 600px;
  height: 150px;
  font-size: 96px;
}

.numberButton:hover {
  background-color: cornflowerblue;
}

.operationButton:hover {
  background-color: orange;
}

.equalsButton:hover {
  background-color: mediumaquamarine;
}