* {
  font-family: 'Roboto Mono', monospace;
  background-color: aliceblue;
}

h1 {
  font-size: 72px;
  text-align: center;
}

.largeContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 602px;
  margin-left: auto;
  margin-right: auto;
}

.displayContainer {
  order: 1;
  display: flex;
}

.display {
  background-color: honeydew;
  border: 2px groove chartreuse;
  height: 75px;
  width: 597px;
  font-size: 64px;
  line-height: 75px;
  text-align: right;
}

.rowOne {
  order: 1;
}

.rowTwo {
  order: 2;
}

.rowThree {
  order: 3;
}

.rowFour {
  order: 4;
}

.rowFive {
  order: 5;
}

button {
  background-color: blanchedalmond;
}

.buttonContainer {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  width: 602px;
}

.numberButton {
  width: 150px;
  height: 150px;
  font-size: 48px;
}

.zeroButton {
  width: 300px;
  height: 150px;
  font-size: 48px;
}

.operationButton {
  width: 150px;
  height: 150px;
  font-size: 48px;
}

.danger {
  width: 150px;
  height: 150px;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.clearButton {
  width: 150px;
  height: 150px;
  font-size: 48px;
}

.equalsButton {
  width: 150px;
  height: 150px;
  font-size: 96px;
}

.numberButton:hover {
  background-color: cornflowerblue;
}

.operationButton:hover {
  background-color: orange;
}

.clearButton:hover {
  background-color: crimson;
}

.equalsButton:hover {
  background-color: mediumaquamarine;
}

.danger:hover {
  background-color: black;
}