* {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 96px;
}

.numberButton {
  width: 150px;
  height: 150px;
  font-size: 64px;
}

.operationButton {
  width: 150px;
  height: 150px;
  font-size: 64px;
}

.equalsButton {
  width: 600px;
  height: 150px;
  font-size: 96px;
}

.numberButton:hover {
  background-color: cornflowerblue;
}

.operationButton:hover {
  background-color: orange;
}

.equalsButton:hover {
  background-color: mediumaquamarine;
}